**/*.o
**/*.so
third_party/FasterTransformer
third_party/sputnik
third_party/cusparselt
kernel_benchmark/spmm_test_cusparse
kernel_benchmark/spmm_test
kernel_benchmark/spmm_test_sparta
kernel_benchmark/spmm_test_sputnik
kernel_benchmark/main_res.csv
kernel_benchmark/cusparse_performance_results.csv
kernel_benchmark/sputnik_performance_results.csv
kernel_benchmark/SparTA_performance_results.csv