[submodule "third_party/sputnik"]
	path = third_party/sputnik
	url = https://github.com/google-research/sputnik.git
[submodule "third_party/FasterTransformer"]
	path = third_party/FasterTransformer
	url = https://github.com/NVIDIA/FasterTransformer.git
	branch = 9770d307b17b178f1ef31b157aabcf5c8b1fedb2
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog.git
